flow.json
[
 {
 "id": "5c9b61e5.1709f",
 "type": "tab",
 "label": "Flow 1",
 "disabled": false,
 "info": ""
 },
 {
 "id": "35206117.0715ae",
 "type": "ui_form",
 "z": "5c9b61e5.1709f",
 "name": "",
 "label": "",
 "group": "dcd022df.63e0d",
 "order": 0,
 "width": 0,
 "height": 0,
 "options": [
 {
 "label": "BMI\t",
 "value": "a",
 "type": "number",
 "required": true,
 "rows": null
 },
 {
 "label": "HIV/AIDS",
 "value": "b",
 "type": "number",
 "required": true,
 "rows": null
 },
 {
 "label": "thinness 1-19 years",
 "value": "c",
 "type": "number",
 "required": true,
 "rows": null
 },
 {
 "label": "thinness 5-9 years",
 "value": "d",
 "type": "number",
 "required": true,
 "rows": null
 },
 {
 "label": "Adult Mortality",
 "value": "e",
 "type": "number",
 "required": true,
 "rows": null
 },
 {
 "label": "Alcohol",
 "value": "f",
 "type": "number",
 "required": true,
 "rows": null
 },
 {
 "label": "Country",
 "value": "g",
 "type": "text",
 "required": true,
 "rows": null
 },
 {
 "label": "Diphtheria ",
 "value": "h",
 "type": "number",
 "required": true,
 "rows": null
 },
 {
 "label": "GDP",
 "value": "i",
 "type": "number",
 "required": true,
 "rows": null
 },
 {
 "label": "Hepatitis B",
 "value": "j",
 "type": "number",
 "required": true,
 "rows": null
 },
 {
 "label": "Income composition of resources",
 "value": "k",
 "type": "number",
 "required": true,
 "rows": null
 },
 {
 "label": "Measles ",
 "value": "l",
 "type": "number",
 "required": true,
 "rows": null
 },
 {
 "label": "Polio",
 "value": "m",
 "type": "number",
 "required": true,
 "rows": null
 },
 {
 "label": "Population",
 "value": "n",
 "type": "number",
 "required": true,
 "rows": null
 },
 {
 "label": "Schooling",
 "value": "o",
 "type": "number",
 "required": true,
 "rows": null
 },
 {
 "label": "Status",
 "value": "p",
 "type": "text",
 "required": true,
 "rows": null
 },
 {
 "label": "Total expenditure",
 "value": "q",
 "type": "number",
 "required": true,
 "rows": null
 },
 {
 "label": "Year",
 "value": "r",
 "type": "number",
 "required": true,
 "rows": null
 },
 {
 "label": "infant deaths",
 "value": "s",
 "type": "number",
 "required": true,
 "rows": null
 },
 {
 "label": "percentage expenditure",
 "value": "t",
 "type": "number",
 "required": true,
 "rows": null
 },
 {
 "label": "under-five deaths ",
 "value": "u",
 "type": "number",
 "required": true,
 "rows": null
 }
 ],
 "formValue": {
 "a": "",
 "b": "",
 "c": "",
 "d": "",
 "e": "",
 "f": "",
 "g": "",
 "h": "",
 "i": "",
 "j": "",
 "k": "",
 "l": "",
 "m": "",
 "n": "",
 "o": "",
 "p": "",
 "q": "",
 "r": "",
 "s": "",
 "t": "",
 "u": ""
 },
 "payload": "",
 "submit": "submit",
 "cancel": "cancel",
 "topic": "",
 "x": 70,
 "y": 100,
 "wires": [
 [
 "d38ff91d.b37428"
 ]
 ]
 },
 {
 "id": "5b02c75.2b53e38",
 "type": "http request",
 "z": "5c9b61e5.1709f",
 "name": "",
 "method": "POST",
 "ret": "obj",
 "paytoqs": false,
 "url": "https://us-south.ml.cloud.ibm.com/v3/wml_instances/b03db769-5e40-4e5b-a8f7-55901b6e9f6d/deployments/2f910d42-2260-4dd7-b0ee-7dab2fa0d3ab/online",
 "tls": "",
 "persist": false,
 "proxy": "",
 "authType": "",
 "x": 470,
 "y": 180,
 "wires": [
 [
 "70b239f1.28c838",
 "5a10351b.42fe5c"
 ]
 ]
 },
 {
 "id": "d2eef5bb.d92ed8",
 "type": "debug",
 "z": "5c9b61e5.1709f",
 "name": "",
 "active": true,
 "tosidebar": true,
 "console": false,
 "tostatus": false,
 "complete": "false",
 "x": 750,
 "y": 280,
 "wires": []
 },
 {
 "id": "5a10351b.42fe5c",
 "type": "function",
 "z": "5c9b61e5.1709f",
 "name": "getFrom Endpoint",
 "func": "msg.payload=msg.payload.values[0][0];\n//msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;",
 "outputs": 1,
 "noerr": 0,
 "x": 490,
 "y": 280,
 "wires": [
 [
 "d2eef5bb.d92ed8",
 "6c83bff5.40f3e"
 ]
 ]
 },
 {
 "id": "70b239f1.28c838",
 "type": "debug",
 "z": "5c9b61e5.1709f",
 "name": "",
 "active": true,
 "tosidebar": true,
 "console": false,
 "tostatus": false,
 "complete": "payload",
 "targetType": "msg",
 "x": 710,
 "y": 180,
 "wires": []
 },
 {
 "id": "b9facd26.f7ae3",
 "type": "function",
 "z": "5c9b61e5.1709f",
 "name": "sendTo Endpoint",
 "func": "//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"6ee18429-4d62-454e-b51e-fc9d4b9cec1e\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"BMI\", \"HIV/AIDS\", \"thinness 1-19 years\", \"thinness 5-9 years\",\n \"Adult Mortality\", \"Alcohol\", \"Country\", \"Diphtheria \", \"GDP\",\n \"Hepatitis B\", \"Income composition of resources\", \"Measles \", \"Polio\",\n \"Population\", \"Schooling\", \"Status\", \"Total expenditure\", \"Year\",\n \"infant deaths\", \"percentage expenditure\", \"under-five deaths \"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n\nreturn msg;\n",
 "outputs": 1,
 "noerr": 0,
 "x": 210,
 "y": 180,
 "wires": [
 [
 "5b02c75.2b53e38"
 ]
 ]
 },
 {
 "id": "6a18b747.363578",
 "type": "http request",
 "z": "5c9b61e5.1709f",
 "name": "",
 "method": "POST",
 "ret": "obj",
 "paytoqs": false,
 "url": "https://iam.cloud.ibm.com/identity/token",
 "tls": "",
 "persist": false,
 "proxy": "",
 "authType": "basic",
 "x": 370,
 "y": 100,
 "wires": [
 [
 "b9facd26.f7ae3"
 ]
 ]
 },
 {
 "id": "d38ff91d.b37428",
 "type": "function",
 "z": "5c9b61e5.1709f",
 "name": "pre token",
 "func": "//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"bolp9z-fIcxOwWd2OVgW_ME3LRehhTcjoN_4KWMGYIx3\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\n\nreturn msg;",
 "outputs": 1,
 "noerr": 0,
 "x": 210,
 "y": 120,
 "wires": [
 [
 "6a18b747.363578"
 ]
 ]
 },
 {
 "id": "6c83bff5.40f3e",
 "type": "ui_text",
 "z": "5c9b61e5.1709f",
 "group": "dcd022df.63e0d",
 "order": 2,
 "width": 0,
 "height": 0,
 "name": "",
 "label": "Prediction",
 "format": "{{msg.payload}}",
 "layout": "row-spread",
 "x": 680,
 "y": 420,
 "wires": []
 },
 {
 "id": "dcd022df.63e0d",
 "type": "ui_group",
 "z": "",
 "name": "Machine Learning Model",
 "tab": "62ee07c5.e71bc8",
 "order": 1,
 "disp": true,
 "width": "6",
 "collapse": false
 },
 {
 "id": "62ee07c5.e71bc8",
 "type": "ui_tab",
 "z": "",
 "name": "Home Page",
 "icon": "dashboard",
 "disabled": false,
 "hidden": false
 }
]